body {
	height:100vh;
    width:100vw;
    display:flex;
    flex-wrap:wrap;
}

.col-1 {
    height:100vh;
    width:50vw;
    display:flex;
    flex-wrap:wrap;
    background-color:cornsilk;
}

.col-2 {
     height:100vh;
    width:50vw;
    display:flex;
    flex-wrap:wrap;
    background-color:cornsilk;
}

.blue_color {
    height:100vh;
     width:50vw;
    background-color:blue;
}

.red_color {
    height:20%;
    width:50%;
    background-color:#red;
}
    
